# Overall Statistics

## Load Data

In [12]:
# Packages
import pandas as pd

In [13]:
# Bring in '~\Box\INFO 290T Project\Intermediate Data\cars_annos.xslx'
cars_annos = pd.read_excel('~/Box/INFO 290T Project/Intermediate Data/cars_annos.xlsx')
cars_annos

,Class,filename,x1,y1,x2,y2,old_class,test,old_class_name,im_path,width,height,num_pixels
0,SUV,00076.jpg,11,13,84,60,1,1,AM General Hummer SUV 2000,/Box/INFO 290T Project/Raw Data/Stanford Car D...,96,64,6144
1,SUV,00457.jpg,31,20,226,119,1,1,AM General Hummer SUV 2000,/Box/INFO 290T Project/Raw Data/Stanford Car D...,250,144,36000
2,SUV,00684.jpg,111,54,365,190,1,1,AM General Hummer SUV 2000,/Box/INFO 290T Project/Raw Data/Stanford Car D...,373,216,80568
3,SUV,01117.jpg,45,39,729,414,1,1,AM General Hummer SUV 2000,/Box/INFO 290T Project/Raw Data/Stanford Car D...,800,600,480000
4,SUV,01167.jpg,14,16,268,169,1,1,AM General Hummer SUV 2000,/Box/INFO 290T Project/Raw Data/Stanford Car D...,278,182,50596
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16180,Convertible,07537.jpg,47,65,249,180,196,0,smart fortwo Convertible 2012,/Box/INFO 290T Project/Raw Data/Stanford Car D...,262,193,50566
16181,Convertible,07594.jpg,29,34,381,273,196,0,smart fortwo Convertible 2012,/Box/INFO 290T Project/Raw Data/Stanford Car D...,400,300,120000
16182,Convertible,07846.jpg,78,289,669,633,196,0,smart fortwo Convertible 2012,/Box/INFO 290T Project/Raw Data/Stanford Car D...,1024,683,699392
16183,Convertible,07895.jpg,31,6,494,272,196,0,smart fortwo Convertible 2012,/Box/INFO 290T Project/Raw Data/Stanford Car D...,500,272,136000
16184,Convertible,08141.jpg,138,150,706,523,196,0,smart fortwo Convertible 2012,/Box/INFO 290T Project/Raw Data/Stanford Car D...,800,600,480000

## Restrict Class

In [14]:
# values of Class
print(cars_annos['Class'].value_counts())
# Variable 'Selected Class' if class is Sedan, SUV, Coupe, Convertible, Pickup
cars_annos['Selected Class'] = cars_annos['Class'].apply(lambda x: 1 if x in ['Sedan', 'SUV', 'Coupe', 'Convertible', 'Pickup'] else 0)
# Restrict to 'Selected Class'
cars_annos = cars_annos[cars_annos['Selected Class'] == 1]

Class
Sedan          4211
SUV            3100
Coupe          2657
Convertible    2058
Pickup         1349
Hatchback      1103
Van             578
Wagon           576
Minivan         498
Hatch            55
Name: count, dtype: int64

## Resolution

In [15]:
# Summarize width and height columns
cars_annos[['width', 'height', 'num_pixels']].describe().T

,count,mean,std,min,25%,50%,75%,max
width,13375.0,700.597832,453.228358,78.0,429.0,640.0,800.0,7800.0
height,13375.0,482.860636,317.918886,41.0,286.5,424.0,555.0,5400.0
num_pixels,13375.0,478597.213084,962131.373693,4141.0,121240.0,267520.0,457150.0,42120000.0